@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Restaurant List";
}
<!--pull in the IEnumerable to loop through the attributes of the objects saved to the model-->
@model IEnumerable<Assignment4.Models.RestaurantInput>

<center>
    <div class="text-center">
        <h3>Here are the restaurants that have been submitted</h3>
        <br />
        <br />
        <table>
            <thead>
                <tr>
                    <th>Submitter's Name</th>
                    <th>Restaurant Name</th>
                    <th>Favorite Dish</th>
                    <th>Restaurant Phone Number</th>
                </tr>
            </thead>

            <!--Loop through and display the inputted restaurant info-->
            <tbody>
                @foreach (Assignment4.Models.RestaurantInput ri in Model)
                {
                    <tr>
                        <td>@ri.Name</td>
                        <td>@ri.RestaurantName</td>
                        <td>@ri.FavoriteDish</td>
                        <td>@ri.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</center>