@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Submit a Restaurant You Like!";
}
<!--Pull in the RestaurantInput model-->
@model Assignment4.Models.RestaurantInput

<!--form with a post method to get the inputted info from the user-->
<div>
    <form asp-action="RestaurantInput" method="post">
        <div>
            <label asp-for="Name">Your Name:</label>
            <input asp-for="Name" />
        </div>

        <div>
            <label asp-for="RestaurantName">Name of the Restaurant:</label>
            <input asp-for="RestaurantName" />
        </div>

        <div>
            <label asp-for="FavoriteDish">Your favorite dish at that restaurant:</label>
            <input asp-for="FavoriteDish" />
        </div>

        <div>
            <label asp-for="Phone">Restaurant's phone number:</label>
            <input asp-for="Phone" />
        </div>

        <button type="submit">Submit</button>

        <!--this div displays the errors if there are any (invalid phone format)-->
        <div asp-validation-summary="All"></div>
    </form>
</div>
